<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated trip_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="trip_model.presentation.Trip_modelModelWizardID"
            name="%_UI_Trip_modelModelWizard_label"
            class="trip_model.presentation.Trip_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Trip_modelModelFile.gif">
         <description>%_UI_Trip_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated trip_model -->
      <editor
            id="trip_model.presentation.Trip_modelEditorID"
            name="%_UI_Trip_modelEditor_label"
            icon="icons/full/obj16/Trip_modelModelFile.gif"
            extensions="trip_model"
            class="trip_model.presentation.Trip_modelEditor"
            contributorClass="trip_model.presentation.Trip_modelActionBarContributor">
      </editor>
   </extension>

</plugin>
